/* wwwroot/css/site.css */


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 14px;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
body {
    margin-bottom: 60px;
    background: transparent; 
}
header {
    background-color: rgba(180, 178, 178, 0.5);
}
.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    transition: color 0.3s ease;
}
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link:focus {
        color: black !important; 
    }

.container
{
    height:auto;
    width:auto;
    align-content:center;
    text-align:center;
}
    .container h1 {
        color: whitesmoke;
        font-family: 'Brush Script MT', cursive;
        font-size: 120px;
        opacity: 0; 
        transform: translateY(-100%);
        animation: slideInFromTop 1s forwards;
    }
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.text{
    width:100%;
    height:300px;
    background-color:rgba(180, 178, 178, 0.5);
    padding:55px;
    margin-bottom:130px;
}
.text p {
    margin-top:55px;
    color: white;
    font-size: 40px;
    font-family: 'Brush Script MT';
    opacity: 0; 
    animation: fadeIn 2s forwards; 
}
.kopce {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Brush Script MT';
}


.typing-animation {
    overflow: hidden;
    white-space: nowrap; 
    border-right: 2px solid #000; 
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
    
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #000
    }
}
#typedLink :hover {
    color: whitesmoke !important;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
body > footer > div {
    color: white !important;
    text-decoration: none !important;
}
html {
    background-image: url('/images/homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
