﻿@using EShop.Domain
﻿@using Microsoft.Extensions.Options
@model ERestaurant.Domain.DTO.OrderViewModel
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Make Order";
}

<h1>Make Order</h1>

@* <form asp-action="MakeOrder" method="post"> *@
<form asp-controller="ShoppingCarts" asp-action="PayOrder" method="post" class="stripe-button">
    <div class="form-group">
        <label asp-for="Order.DeliveryAddress" class="control-label"></label>
        <input asp-for="Order.DeliveryAddress" class="form-control" />
        <span asp-validation-for="Order.DeliveryAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedRestaurantId" class="control-label">Select Restaurant</label>
        <select asp-for="SelectedRestaurantId" asp-items="(SelectList)ViewBag.Restaurants" class="form-control">
            <option value="">Select a restaurant</option>
        </select>
        <span asp-validation-for="SelectedRestaurantId" class="text-danger"></span>
    </div>

@*     <button type="submit" class="btn btn-primary" >Submit</button>

 *@
    <article>
        <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="EShop Application Payment"
                data-amount="@(Model.Order.TotalAmount * 100)"
                data-label="Pay $@Model.Order.TotalAmount">
        </script>
    </article>

@*     <form asp-controller="ShoppingCarts" asp-action="PayOrder" method="post" class="stripe-button">
        <article>
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="EShop Application Payment"
                    data-amount="@(Model.TotalPrice * 100)"
                    data-label="Pay $@Model.TotalPrice">
            </script>
        </article>
    </form> *@
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}