@model List<Menu>

<h1>Menus for Restaurant</h1>

<table class="content" style="color:white;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.Name</td>
                <td>@menu.Description</td>
                <td>@(menu.IsActive ? "Yes" : "No")</td>
                <td>
                    <a asp-controller="MenuItem" asp-action="ListAllItemsInTheMenu" asp-route-menuId="@menu.Id" class="btn btn-primary">See Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .content {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin: 20px auto;
        width: 80%;
        border-radius: 10px;
    }

        .content dl dt, .content dl dd {
            font-size: 18px;
        }

        .content hr {
            color: white;
            border-top: 2px solid white;
        }

    .btn {
        display: inline-block;
        padding: 12px 24px;
        margin-right: 20px;
        background-color: rgba(180, 178, 178, 0.3);
        color: black;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    }

        .btn:hover {
            background-color: rgba(180, 178, 178, 0.5);
            color: white;
            transform: scale(1.1);
        }

        .btn:focus {
            outline: none;
        }

        .btn:active {
            transform: scale(0.95);
        }
</style>
